.row {
    padding: 15px;
}
div{
    background-color: rgba(13, 212, 247, 0.712) ;
    text-align: center;
}
/*estilo de la foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 14%;
        border-radius: 10%;
        box-shadow: grey;
        left: 2%;
        top: 600px;
    }
}
@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 10%;
        box-shadow: grey;
        left: 33%;
        top: 950px;
    }
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 50%;
    margin-left: 40px;
}

