<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/FotoPerfil.jpeg" class="img-fluid" id="fotodeperfil">
    </div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Fueyo Vuillermoz Tiago</p>
    <p>Full Stack Developer Jr</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mi</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus veniam nisi minima minus omnis placeat quod quaerat, esse quam quidem molestiae itaque eligendi nihil necessitatibus earum numquam recusandae ex aliquid! </p>
    </span>
</div>
</div>